/* Hide Radio button */

.rate > input {
    display: none;
}

.rate {
    display: inline-block;
    border: 0;
}

.rate > label {
    float: right;
}

/* Showing the stars  */
.rate > label:before {
    display: inline-block;
    font-family: 1.1rem;
    font-family: FontAwesome;
    content: "\f005"; 
    margin: 2px;
    padding: 0.3rem .2rem;
    cursor: pointer;
}

/* Half star trick */
.rate > label.half:before {
    content: "\f089"; 
    position: absolute;
    padding-right: 0;
}

/* CLick and hover */
input:checked ~ label, label:hover ~ label {
    color: #ffb503;
}

/* hover highlight  */
input:checked + label:hover, input:checked ~ label:hover, input:checked ~ label:hover ~ label 
label:hover ~ input:checked ~ label {
    color: #cc9000;
} 

/* Thumb images */
ul.thumb {
    margin-top: 15px;
    display: flex;
    gap: 10px;
}

ul.thumb li {
    list-style: none;
}

ul.thumb li img {
    border: 1px solid #ddd;
    padding: 5px;
    width: 70px;
    height: 70px;
    object-fit: cover;
    cursor: pointer;
}