{% load static %}
<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top bg-white">
    <div class="container py-4">
        <section class="footer-bottom border-top pt-3 row align-items-center">
            <div class="col-md-3">
                <p class="text-muted mb-0"> &copy; {% now "Y" %} GreatKart. All rights reserved. </p>
            </div>
            
            <div class="col-md-6 text-md-center">
                <div class="text-muted">
                    <span class="px-2"><i class="fa fa-envelope me-1"></i> support@greatkart.io</span>
                    <span class="px-2"><i class="fa fa-phone me-1"></i> +91 98765 43210</span>
                    <br class="d-md-none"> <span class="px-2"><i class="fa fa-map-marker-alt me-1"></i> S.G. Highway, Ahmedabad</span>
                </div>
            </div>

            <div class="col-md-3 text-md-end text-muted">
                <i class="fab fa-lg fa-cc-visa text-primary"></i>
                <i class="fab fa-lg fa-cc-paypal text-info"></i>
                <i class="fab fa-lg fa-cc-mastercard text-danger"></i>
                <i class="fab fa-lg fa-cc-amazon-pay"></i>
            </div>
        </section>
    </div>
</footer>
<!-- ========================= FOOTER END // ========================= -->
